.primary-nav {

	&--pull-right {
			@mixin atLarge {
				float: right;
			}
	}

	ul {
		@mixin clearfix;
	}

	li {
		list-style: none;
		display: block;
		padding: 10px 0;

		@mixin atLarge {
			float: left;
			padding: 0 20px 0 0;
		}
	}

	li:last-child {
		padding-right: 0;
	}

	a {
			text-decoration: none;
			color: #fff;
			text-transform: uppercase;
			transition: color .3s ease-out;

		&:hover {
			color: $mainOrange;
		}
	}
}
