.social-icons {
	text-align: center;

	span {
		background: rgba(#000,.4);
		margin: 0 3px;
		font-size: 1.0625rem;
		width: 35px;
		height: 35px;
		line-height: 2.25rem;
		border-radius: 50%;
		display: inline-block;
		color: $white;
	}
}
