*,
*::before,
*::after {
  margin: 0;
	padding: 0;
  box-sizing: inherit;
	outline: none;
}

/* html {
	font-size: 62.5%;
} */

body {
	font-family: 'Poppins', sans-serif;
	color: #444;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	max-height: auto;
}

a {
	color: $mainOrange;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #222;
  margin: 0 0 15px;
}

p {
    margin: 0 0 10px;
}

.hidden-mobile {
  display: none;

  @mixin atSmall {
    display: inline;
  }
}
