.hidden-mobile {
  display: none;

  @mixin atSmall {
    display: inline;
  }
}

.fade {
  opacity: 0;
  transition: opacity .3s ease-out;
}

.fade.in {
  opacity: 1;
  transition: opacity .3s ease-out;
}
